<!DOCTYPE html>
<html>
 
  <head>
    <meta charset='utf-8'>
    <title>Today's meetings</title>
    <link href='/css/main.css' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Roboto:700,300,100' rel='stylesheet' type='text/css' />
  </head>
  
  <body>

  <!--header-->
    <div id='header' class='header--red'>
     
    <!--meeting details-->
      <% @agenda.each do |meeting| %>
        <div class = 'details details--invisible', data-start-time = <%= meeting['start_time'] %> data-end-time = <%= meeting['end_time'] %>>
          <p class='details--bottom-margin details--bold'>
            <span class='details__status'>NOT HAPPENING</span>  <%= meeting['start_time'].strftime('%-I:%M')  %> - <%= meeting['end_time'].strftime('%-I:%M %p') %>
          </p>
          <h1><%= meeting['name'] %></h1>
          <h2 class="details--bottom-margin"><%= meeting['location'] %></h2>
          <% meeting['attendees'].each do |attendee|%>
            <img class= 'details__image' src='<%= attendee['photo'] %>' alt='<%= attendee['name'] %>' />
          <% end %>
        </div>
      <% end %>
    <!--clock-->
      <div id='clock' class = 'clock--size clock--right'></div>
      
    </div>
    
  <!--schedule-->
    <div id='schedule'>
    <!--timeline-->
      <div id="schedule__timeline">
        <ul class="timeline__list">
          <li class="timeline__list-item"></li>
          <li class="timeline__list-item"></li>
          <li class="timeline__list-item"></li>
          <li class="timeline__list-item"></li>
          <li class="timeline__list-item"></li>
          </ul>
      </div>
    <!--time-bar-->
      <div id="schedule__time-bar"></div>
    <!--divider bars-->
      <div class="schedule__buffer-bar"></div>
      <% 9.times do %>
        <div class="schedule__measure-bar"></div>
      <% end %>
      
    </div>

<!--All the javascripts-->

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'></script>
    <script type='text/javascript' src='/javascript/main.js'></script>
  </body>
</html>
